:root {

}

* {
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.page-container {
    height: 100%;
}


.header {
    height: 10%;
    background-color: #3a5392;
    display: flex;
    flex-direction: row;
}

.page-logo {

}

.main {
    height: 80%;
}


.footer {
    height: 10%;
    background-color: slategrey;
}