<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">

</head>
<body>
    <div class="page-container">
        <div class="header">
            <div class="page-logo"></div>
            <div class="page-title">Melegedő :D</div>
            <div class="page-menu"></div>
        </div>

        <div class="main">
            {% block content %}{% endblock %}
        </div>

        <div class="footer">Ez egy kis szöveg a láblécbe</div>
    </div>
</body>
</html>