<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">

</head>
<body>
    <div class="page-container">
        <div class="header">
            <div class="page-logo"><img src="{{ url_for('static', filename='assets/phone.png') }}"></div>
            <div class="page-title title">Névtelen Lelkisegély Szolgálat</div>
            <div class="page-menu subtitle">
                <div class="about-menu-page menu-item"><a href="/rolunk">Rólunk</a></div>
                <div class="blog-menu-page menu-item"><a href="/blog">Blog</a></div>
            </div>
        </div>

        <div class="main">
            {% block content %}{% endblock %}
        </div>

        <div class="footer">Ez egy kis szöveg a láblécbe</div>
    </div>
</body>
</html>