<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/main.css') }}">

</head>
<body>
    <div class="page-container">
        <div class="header">
            <div class="page-logo"><a href="/"><img src="{{ url_for('static', filename='assets/phone.png') }}"></a></div>
            <div class="page-title title">Névtelen Lelkisegély Szolgálat</div>
            <div class="page-menu subtitle">
                <div class="about-menu-page menu-item"><a href="/rolunk">Rólunk</a></div>
                <div class="blog-menu-page menu-item"><a href="/blog">Blog</a></div>
            </div>
        </div>

        <div class="main">
            {% block content %}{% endblock %}
        </div>

        <div class="pop-up-container">
            <div class="pop-up-phone pop-up-box">
                <span>Telefon</span>
                <span>Hívj minket ezen a számon!</span>
                <span>+36 30 111 1111</span>
            </div>
            <div class="pop-up-email pop-up-box">
                <span>Email</span>
                <span>Írj nekünk emailt és mi válaszolunk!</span>
                <span>névtelen@email.com</span>
            </div>
            <div class="pop-up-facebook pop-up-box">
                <span>Facebook</span>
                <span>Keress minket Facebookon!</span>
                <span>ez egy link...</span>
            </div>

        </div>

        <div class="footer">Ez egy kis szöveg a láblécbe</div>
    </div>
</body>
</html>