{% extends 'index.html' %}

{% block pagetitle %}Login{% endblock %}

{% block links %}
    <script rel="stylesheet" src="{{ url_for('static', filename='js/login.js') }}" defer></script>
{% endblock %}

{% block content %}
    <div class="login-container">
        <label for="login-name">Név: </label>
        <input id="login-name" type="text">

        <label for="login-password">Jelszó: </label>
        <input id="login-password" type="password">

        <button id="send-login-info">Küldés</button>
    </div>
{% endblock %}